<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Document</title>
</head>
<body>
 <div id="main">
  <div id="left">
    <h2>welcome back</h2>
    <h1>login account</h1>
      <div id="formd">
    <form action="/formsubmit">
      <input type="text" name="email" placeholder="enter-email" required>
      <br>
     
     <input name="password" type="password" placeholder="password" required>
     <br>
     <button type="submit">REGISTER</button>
    </form>
  </div>
  </div>
  
  <div id="right">
    <p>for growing your business we create amazing opportunity! </p>
    <h2>i am Borat</h2>
    <div id="box">
      <img src="https://i.pinimg.com/564x/b7/16/fd/b716fda379dcc5f82508b1db922a3588.jpg" alt="">
    </div>
   
  </div>
 </div>
</body>
</html>